* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #2B388F;
    height: 480px;
    overflow: hidden;
}

.textclock {
    font-size: 30px;
    color: #000;
}

.signal1,
.signal2,
.signal3,
.signal4,
.signal5,
.signal6,
.signal7,
.signal8,
.signal9,
.signal10,
.signal11,
.reset,
.first {
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #BED73D;
    margin-top: 0px;
    padding: 0px 5px;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.banner {
    width: 320px;
    height: 480px;
    margin: 0px auto;
    position: relative;
    background: #FAFAFA;
}

.banner__logo {
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    text-align: center;
}

.banner__logo img {
    width: 187px;
}

.banner__bgtop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.banner__bgbottom {
    position: absolute;
    bottom: -3px;
    left: 0;
    z-index: 0;
}

.banner__time {
    display: flex;
    justify-content: center;
    position: relative;
}

.banner__time--clock {
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 40px !important;
    line-height: 46px !important;
    text-align: center;
    color: #BED73D !important;
    font-family: 'Yeseva One', cursive;
}

.banner__time--wib {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-top: -6px;
}

.banner__selamat {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    text-align: center;
    color: #000000;
    padding-top: 22px;
}

.banner__ibadah {
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    position: relative;
    text-align: center;
    color: #DCA35B;
}

.banner__sponsore {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #2D2D2D;
    padding-top: 10px;
}

.banner__img {
    text-align: center;
    padding-top: 5px;
}

.banner__jadwal {
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px 28px;
    position: absolute;
    bottom: 37px;
    left: 0;
    right: 0;
    text-align: center;
}

#timetable {
    display: flex;
    justify-content: space-between;
}

.jadwal {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #505050;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.jadwal__line {
    width: 100%;
    height: 1px;
    background: #F1F1F1;
    border-radius: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.canvas__tgl1 {
    padding-top: 23px;
    padding-bottom: 2px;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}

form#form1 {
    margin: 0px 0px;
    background: #F1F1F1;
    padding: 8px 15px;
    border-radius: 5px;
}

select {
    background: transparent;
    width: 100%;
    border: 0;
    border-radius: 0;
    vertical-align: middle;
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.styleSelect {
    overflow: hidden;
    padding-bottom: 10px;
    display: none;
}

option {
    border: 0;
    color: #111;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

a.click {
    background: transparent;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 480px;
    z-index: 5;
}

.banner__header {
    display: flex;
    justify-content: space-between;
    /* margin-top: 15px; */
    padding: 15px 15px 0px 15px;
    position: relative;
    z-index: 2;
}

.pray {
    font-weight: 400;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 2px;
}

.pray__time {
    background: #FED502;
    border: 1px solid #BED73D;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #0A6839;
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.canvas__note {
    font-style: italic;
    font-weight: 500;
    font-size: 7px;
    line-height: 9px;
    text-align: center;
    color: #808285;
    padding-top: 5px;
}

.note2 {
    font-weight: 400;
    font-size: 10px;
    font-style: italic;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 4px;
}

.header__logobrand img {
    width: 91px;
}

.textclock1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 163px;
}

.canvas__tgl {
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 3px;
    padding-bottom: 3px;
}

.carousel {
    box-sizing: border-box;
    border-radius: 13px;
    position: absolute;
    top: 104px;
    width: 180px;
    left: 0;
    right: 0;
    margin: auto;
}

.banner__text {
    position: absolute;
    right: 23px;
    top: 23px;
}

.banner__text h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    color: #BED73D;
}

.banner__text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    color: #FED502;
}

.textclock1__text1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    color: #FFFFFF;
}

.textclock1__text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    font-family: 'Yeseva One', cursive;
    text-align: center;
    color: #FED502;
}